<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="{{ path('bo_dashboard_index') }}"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">{{ breadcrumb_item_one }}</a></li>
                        </ol>
                    </nav>
                </div>
                {% if with_link %}
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{{ breadcrumb_link }}" class="btn btn-sm btn-neutral">{{ breadcrumb_item_two }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>