<!doctype html>
<html lang="fr">
<head>
<title>Template PDF</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet" >
<link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
	<div class="row">
		<div class="col-12">
			<div class="grid kl-invoice">
				<div class="grid-body">
					<div class="invoice-title">
						<div class="row">
							<div class="col-12">
								<img src="./images/logo.jpg" alt="" height="75">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-12">
								<h2>Facture<br>
								<span class="small">numéro #108</span></h2>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-6">
							<address>
								Boulangerie.com<br>
								IIM 99 Antsakaviro Antananarivo<br>
								101 Madagascar<br>
								<abbr title="Phone">Téléphone:</abbr> +261 33 05 425 03
							</address>
						</div>
						<div class="col-6 text-end">
							<address>
								Eliane Hernandez<br>
								Ambohimanarina Antananarivo,<br>
								101 Madagascar<br>
								<abbr title="Phone">Téléphone:</abbr> +261 33 05 425 03
							</address>
						</div>
					</div>
					<div class="row">
						<div class="col-12 text-end">
							<address>
								<strong>Date de la facturation:</strong><br>
								17/06/2021
							</address>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>RÉCAPITULATIF DE LA COMMANDE</h3>
							<table class="table table-striped">
								<thead>
									<tr class="line">
										<td><strong>#</strong></td>
										<td class="text-center"><strong>Désignation</strong></td>
										<td class="text-center"><strong>Prix unitaire</strong></td>
										<td class="text-end"><strong>Prix total</strong></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td><strong>Achat d'une tonne de pain Français</strong>
										<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</td>
										<td class="text-center">300 000Ar</td>
										<td class="text-end">300 000Ar</td>
									</tr>
									<tr>
										<td>2</td>
										<td><strong>Achat de farine 45kg</strong>
										<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</td>
										<td class="text-center">300 000Ar</td>
										<td class="text-end">300 000Ar</td>
									</tr>
									<tr class="line">
										<td>3</td>
										<td><strong>Lorem ipsum</strong>
										<br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium<br>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</td>
										<td class="text-center">300 000Ar</td>
										<td class="text-end">300 000Ar</td>
									</tr>
									<tr>
										<td colspan="2"></td>
										<td class="text-end"><strong>Taxes</strong></td>
										<td class="text-end"><strong>N/A</strong></td>
									</tr>
									<tr>
										<td colspan="2">
										</td><td class="text-end kl-custom-color"><strong>TOTAL</strong></td>
										<td class="text-end kl-custom-color-td"><strong>1 200 000Ar</strong></td>
									</tr>
								</tbody>
							</table>
							<div class="">
								Arrêté la présente facture à la somme de <strong>Un Millon Deux Cent Mille Ariary</strong>
							</div>
						</div>									
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>