<footer id="footer" class="kl-footer text-center">
    <div class="container">
        <div class="row">
            <figure>
                <img src="{{ asset('frontoffice/images/logo_foot1.png') }}" alt="">
            </figure>
            <p>
                {{ "footer.description.site"|trans }}
            </p>
        </div>
    </div>
</footer>